body{
    background-color:#11104e;
}
form{
    margin-top: 10em;
    margin-left: 30em;
    margin-right: 30em;
}
label{
    background-color: honeydew;
    
}
main{
    margin-top: 15ex;
}
.btn-primary{
    margin-left: 20ex;
    margin-top: 2ex;
}
h1{
    color: cornsilk; 
    margin-bottom: 0ex;
}